<ion-view>
  <ion-content class="questions" has-header="false" padding="true">
    <div class="description">{{rule.description}}</div>

    <ion-list ng-init="questions" class="questions">
      <ion-item  href="#/tab/process/{{params.processId}}/rules/{{params.ruleId}}/questions/{{question.id}}/replies" ng-repeat="question in questions" type="item-text-wrap">
        <div class="question body">
          <strong>{{question.from}}</strong>: {{question.title}}
        </div>
        <div class="question replies"><i class="icon ion-chatbox"></i> {{question.countReplies}}</div>
      </ion-item>
    </ion-list>

    <form ng-submit="addQuestion(question.title)">
      <label class="item item-input">
        <textarea placeholder="Novo Comentário" ng-model="question.title"></textarea>
      </label>

      <button class="button button-block button-positive" type="submit">
        Enviar
      </button>
    </form>
  </ion-content>
</ion-view>
